/* Css reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Utils  */

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.flex {
    display: flex;
}

/* Generics */

body {
    margin-top: 80px;
}



/* Header  */

header {
    height: 80px;
    background-color: #ff6900;
    color: #ffff;
    font-weight: bold;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0; 
}

.navbar {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;  
}

main {
    padding-top: 50px;
}


/* Main-cards  */

.row {
    display: flex;
    gap: 20px;
    
}

.col {
    min-height: 50px;
    width: calc(100% / 3);
    
}

.cards {
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
}


.cards > img {
    display: flex;
    height: 500px;
}




/* footer  */

footer {
    height: 100px;
    background-color: #1a1a1a;
    color: #fff;
}